<div class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content -------------------------------------------------------->
    <div class="modal-content">
        
        <!-- modal header ----------------------------------------------------->
        <div class="modal-header">
            <h4 class="modal-title">Reset user password</h4>
            <button type="button" class="close" ng-click="hide()" 
                data-dismiss="modal" tabindex="-1">
                    &times;
            </button>
        </div>
        
        
        <!-- modal body --------------------------------------- modal header -->
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-6">
                    <label>User ID</label>
                </div>
                <div class="col-6">
                    <label>{{ data.user.id }}</label>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-6">
                    <label>User name</label>
                </div>
                
                <div class="col-6">
                    <input type="text" class="form-control bg-transparent" 
                        placeholder="First name" readonly
                        ng-model="data.user.username">
                </div>
                
            </div>
            
            <div class="form-group row">
                <div class="col-6">
                </div>
                
                <div class="col-6">
                    <button type="submit" 
                        class="btn btn-outline-success" ng-click="doResetPassword(data.user.id)"
                        id="loginSubmit">
                        Reset
                    </button>
                    
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-6">
                    <label>New password</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control bg-transparent" ng-class="{'is-valid': success, 'is-invalid' : failed}"
                        readonly
                        ng-model="newPassword">
                    <div class="text-secondary mt-1" 
                        style="font-size: small;">
                        {{message}}
                    </div>
                </div>
            </div>
            
            
            
        </div>
        
        

        <!-- modal footer ------------------------------------- modal header -->
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" 
                ng-click="hide()" data-dismiss="modal">
                    Close
            </button>
        </div>
        
    </div><!------------------------------------------------- modal content --->
    
    
    </div><!-------------------------------------------------- modal dialog --->
</div>

